In [3]:
# Cell 1
print("Hello, world!")

Hello, world!

In [5]:
# Cell 2
import pandas as pd
df = pd.read_csv("sample.csv")
display(df.head())
print(df.info())

   id                   text
0   1                  Hello
1   2         This is a test
2   3    Data science is fun
3   4  R and Python together
4   5                   最後一行

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5 non-null      int64
 1   text    5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes
None